@{
    ViewBag.Title = "Executive View";
}

@section headerRight {

    <section>

        <div id="customerLogo">
            <img src="~/Images/walt-disney-motion-pictures-group.png" alt="Walt Disney Motion Pictures Group" />
            <img src="~/Images/disney-toon-studios.jpg" alt="DisneyToon Studios" />
            <img src="~/Images/jerry-bruckheimer-films.jpg" alt="Jerry Bruckheimer Films" />
            <img src="~/Images/pixar-animation-studios.jpg" alt="Pixar Animation Studios" />
            <img src="~/Images/marvel-studios.jpg" alt="Marvel Studios" />

        </div>

    </section>
    
}


@section content {

    <script type="text/javascript" src="~/Scripts/timeline.js"></script>

    <script type="text/javascript" src="~/Scripts/titles.js"></script>

    <script type="text/javascript">
        
        var timeline;

        function createTimeline() {
            var data = getTitles();

            timeline = new links.Timeline(document.getElementById('timeline'));

            var timelineOptions = {
                height: "100%",
                axisOnTop: true,
                showPhases: false,
                animate: true,
                animateZoom: true,
                showWatermark: false,
                min: new Date("1/11/2011"),
                max: new Date("2/1/2016"),
                start: new Date("1/11/2011"),
                end: new Date("2/1/2016")
            };

            links.events.addListener(timeline, 'doubleClick', onTimelineEventDoubleClick);

            timeline.draw(data, timelineOptions);

            redrawTimeline();
        }

        function onTimelineEventDoubleClick() {
            //var test = $.mobile.changePage("/cineglass/TempDialog", { role: "dialog" });
            var selection = timeline.getSelection();
            if (selection.length) {
                if (selection[0].row != undefined) {
                    var item = timeline.getItem(selection[0].row);

                    //switch (item.content) {
                    //    case "On Set Dailies":
                    //        alert("Need to open Dailies PDF");
                    //        break;
                    //    default:
                    //        alert("Need to open something else");
                    //}

                    alert('TODO: Open "' + item.content + '" details');
                }
            }
        }

        function redrawTimeline() {
            var range = timeline.getVisibleChartRange();
            timeline.setVisibleChartRange(range.start, range.end);

            if (timeline.dom.contentTimelines.clientHeight == 0) {
                setTimeout(redrawTimeline, 100);
            }
        }

        $(window).resize(function () {
            redrawTimeline();
        });

        $(document).ready(function () {
            createTimeline();
        });

    </script>

    <link rel="stylesheet" type="text/css" href="~/Content/timeline.css">

    <section>

        <div id="timeline"></div>

    </section>
}

@section footerLeft {

    @Html.ActionLink("Home", "Index", "Home", null, new Dictionary<string, object>() { { "data-role", "button" }, { "data-icon", "home" }, { "data-iconpos", "notext" }, { "data-theme", "f" } })
    <a href="index.html" data-role="button" data-icon="gear" data-iconpos="notext" data-theme="f" style="float:left;">Options</a>
    <a href="index.html" data-role="button" data-icon="info" data-iconpos="notext" data-theme="f" style="float:left;">Information</a>
    
}