@{
    ViewBag.Title = "Home Page";
}

@section content {
        
    <script type="text/javascript">                

        function showProducerView() {

            $.mobile.changePage("/cineglass/producer", { reloadPage: true });

        };

        function showExecutiveView() {

            $.mobile.changePage("/cineglass/executive", { reloadPage: true });

        };

    </script>

    <section>

        <div id="mainNav">            
            <div id="producerNav" onclick="showProducerView()">
                <img src="~/Images/producer-view.png" alt="Producer View" />
                <div>Producer View</div>
            </div>
            <div id="executiveNav" onclick="showExecutiveView()">
                <img src="~/Images/executive-view.png" alt="Executive View" />
                <div>Executive View</div>
            </div>
        </div>

    </section>

}
