@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Temp</title>
</head>
<body>
    <div>
        <script type="text/javascript" src="~/Scripts/jquery-1.8.2.min.js"></script>

        <script type="text/javascript" src="~/Scripts/timeline2.js"></script>

        <script type="text/javascript" src="~/Scripts/activities.js"></script>

        <script type="text/javascript">

        </script>






        <h1>Coming Soon!</h1>
    </div>
</body>
</html>
